#main--lockscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 36px;
    padding: 36px;
    background-image: url(./default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#main--lockscreen:before {
    content: "";
    display: block;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 0;
}

#main--lockscreen .main--lockscreen-currentAccount {
    height: 40px;
    width: fit-content;
    position: absolute;
    bottom: 36px;
    height: 36px;
    z-index: 1;
}

#main--lockscreen .main--lockscreen-currentAccount .other {
    opacity: 0;
    margin-top: -51px;
    transition: opacity 0s ease;
}

#main--lockscreen .main--lockscreen-currentAccount.other .other {
    opacity: 1;
    cursor: pointer;
    margin-top: 0px;
    transition: opacity 0.3s ease;
}

#main--lockscreen .main--lockscreen-currentAccount.other .other:before {
    content: "";
    background-color: #ffffff0f;
    display: block;
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -14px;
    pointer-events: none;
    left: -5px;
    z-index: -1;
    border-radius: 20px;
    transition: background-color 0.1s ease;
}

#main--lockscreen .main--lockscreen-currentAccount.other .other:hover:before {
    background-color: #ffffff14;
}

#main--lockscreen .main--lockscreen-currentAccount.other .other:active:before {
    background-color: #ffffff2b;
}

#main--lockscreen .main--lockscreen-currentAccount.other .first {
    display: none;
}

#main--lockscreen .main--lockscreen-currentAccount #main--lockscreen-currentAccount-profilePhoto,
#main--lockscreen .main--lockscreen-currentAccount .main--lockscreen-currentAccount_OtherIcon {
    background-color: #bbbbbb;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
}

#main--lockscreen .main--lockscreen-currentAccount .main--lockscreen-currentAccount_OtherIcon {
    background-color: transparent;
}

#main--lockscreen .main--lockscreen-currentAccount #main--lockscreen-currentAccount-Username,
#main--lockscreen .main--lockscreen-currentAccount #main--lockscreen-currentAccount-selectUsers {
    color: #e4e4e4;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    margin-top: 6px;
    margin-left: 46px;
}

#main--lockscreen #main--lockscreen-clock {
    font-size: 68px;
    color: white;
    margin: 0px;
    margin-top: calc(50vh - 84px - 84px);
    position: relative;
    text-align: center;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#main--lockscreen #main--lockscreen-clock.hide {
    opacity: 0;
}

#main--lockscreen #main--lockscreen-date {
    font-size: 28px;
    color: #dedede;
    margin-top: 0px;
    position: relative;
    text-align: center;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#main--lockscreen #main--lockscreen-date.hide {
    opacity: 0;
}

#main--lockscreen #main--lockscreen-actions {
    position: absolute;
    display: inline-block;
    top: 36px;
    font-size: 36px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#main--lockscreen #main--lockscreen-actions.hide {
    opacity: 0;
}

#main--lockscreen #main--lockscreen-actions .action {
    width: 36px;
    height: 36px;
}

#main--lockscreen #main--lockscreen-message {
    color: #dcdcdc;
    position: absolute;
    font-size: 16px;
    top: 86px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#main--lockscreen #main--lockscreen-message.top {
    top: 32px;
}

#main--lockscreen #main--lockscreen-message.hide {
    opacity: 0;
}

#main--lockscreen #main--lockscreen-info {
    position: absolute;
    bottom: 36px;
    right: 36px;
    height: 36px;
    width: 280px;
    z-index: 1;
    text-align: right;
    overflow: hidden;
}

#main--lockscreen #main--lockscreen-info .icon {
    width: 34px;
    height: 34px;
    margin: 1px;
}

#main--lockscreen #main--lockscreen-info .icon2 {
    width: 30px;
    height: 30px;
    margin: 3px;
}

#main--lockscreen #main--lockscreen-info .text {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: #ababab;
    font-weight: 300;
    margin: 8px 0px;
    margin-right: 10px;
    overflow: hidden;
}

#main--lockscreen .bottom-blur {
    display: block;
    position: absolute;
    backdrop-filter: blur(12px);
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100vh;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0 5px 18px 6px #000000c9;
    background-color: #0c0c0c61;
    transition-duration: 0.4s;
    transform: translateY(calc(100vh - 140px));
    transition: transform 0.4s cubic-bezier(0.01, 0.02, 0, 0.98);
    z-index: 1;
}

#main--lockscreen .bottom-blur.moving {
    transition: transform 0s linear;
}

#main--lockscreen .bottom-blur.full {
    border-radius: 0px;
    transform: translateY(0px);
}

#main--lockscreen .bottom-blur:before {
    content: "";
    display: block;
    width: 80px;
    height: 8px;
    border-radius: 100px;
    background-color: #ffffff99;
    margin: 18px auto;
}

#main--lockscreen .bottom-blur .main--lockscreen-login {
    position: fixed;
    display: block;
    top: 44px;
    bottom: 120px;
    right: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 1, 1);
}

#main--lockscreen .bottom-blur.full .main--lockscreen-login {
    opacity: 1;
}

#main--lockscreen .bottom-blur .main--lockscreen-login .profile {
    width: 120px;
    height: 120px;
    background-color: #bbbbbb;
    border-radius: 100px;
    display: block;
    margin: 0px auto;
    margin-top: calc(18vh + 20px);
    margin-bottom: 20px;
}

#main--lockscreen .bottom-blur .main--lockscreen-login .username {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    display: block;
    color: white;
}

#main--lockscreen .bottom-blur .main--lockscreen-login .password {
    border: 0px;
    background-color: transparent;
    padding: 12px 14px;
    font-size: 16px;
    display: block;
    margin: 36px auto;
    padding-right: 36px;
    color: #bbbbbb;
    border-bottom: 1px solid #757575;
    transition-duration: 0.1s;
}

#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon {
    width: 20px;
    display: block;
    margin: 0px calc(50% - 12px);
    margin-top: -68px;
    margin-left: calc(50% - 12px + 106px);
    opacity: 0.6;
    cursor: pointer;
}

#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon.disable,
#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon.disable:hover,
#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon.disable:focus {
    opacity: 0.2;
    cursor: auto;
}

#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon:hover,
#main--lockscreen .bottom-blur .main--lockscreen-login #main--lockscreen-startIcon:focus {
    opacity: 1;
}

#main--lockscreen .bottom-blur .main--lockscreen-login .password:focus {
    color: white;
    border-bottom: 1px solid #ffffff;
}